{% extends "layout.html" %}

{% block content %}

<div class="content-wrapper" style="text-align: center;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5></h5>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                  
<audio controls loop>
    <source src="../static/sound/s1.mp3" type="audio/mpeg">
</audio>
  
                </div>
                <!-- /.col -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

{% endblock %} {% block scripts %} {% endblock %}