{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block content %}

<div class="content-wrapper">
  <!-- <div class="content-wrapper" style="background-image: linear-gradient(rgba(255, 140, 0, 0.5), rgba(0, 255, 127, 0.5));"> -->
  <!-- Content Header (Page header) -->
  <section class="content-header">
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title" style="margin-left: 20%;margin-right: 40%;float: right;font-size: 140%;">برنامه متخصصین
          روز <b style="color: darkorange;">{{ weekday }}</b> نوبت <b style="color: springgreen;">{{ shift }}</b></h3>

        <div class="card-body p-0">
          <table class="table table-striped" style="font-size: 150%;">
            <thead>
              <tr>
                <th class="text-center">
                </th>
                <th class="text-center">
                </th>
              </tr>
            </thead>
            <tbody>

              {% for index in schedule %}
              <tr>

                <td class="text-center">
                  <b>
                    {{ index.doctor_name }}
                  </b>
                </td>

                <td class="text-center">
                  <a>
                    {{ index.doctor_specialization }}
                  </a>
                </td>

              </tr>

              {% endfor %}

            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>

  </section>
  <!-- /.content -->
</div>

{% endblock %}

{% block scripts %}
{% endblock %}